.mainPage-heading{

    font-family: Serif;
    text-align: center;
    text-decoration: underline;

}

.mainpage-news-article-image{
    max-width: 360px;
}
.mainPage-subheading{
    text-align: center;
}
.mainpage-news-article-text{
    font-family: sans-serif;
    text-align: justify;
    text-justify: inter-word;
}
.mainpage-news-article-heading{
    font-size: 26px;
}
.mainpage-news-article-hoursago{
    color: darkgray;
}
.mainpage-news-article-cardiv{
    margin: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 18px;
    /*border: 4px solid darkgray ;*/
    box-shadow: 2px 5px 8px 3px rgba(0,0,0,0.2);
    width: 900px;
}
.main-page-footer{
    text-align: center;
    /*text-decoration-style: solid;*/
    font-weight: bold;
    font-size: 14px;
    color: rgba(0,0,0,0.7);
}